
// Footer

.footer {
    height: 4rem;
    padding: 0 1rem;
    background-color: $third-color;
    @extend %nav-flex;
    @media #{$med-screen} {
        padding: 0 2rem;
    }

    p {
        font-size: .7rem;
    }

    .icons a {
        display: inline-block;
        font-size: .8rem;
        margin-left: 1rem;

        &:hover {
            cursor: pointer;
            color: $primary-color;
        }
        @media #{$med-screen} {
            margin-left: 2rem;
            font-size: 1rem;
        }
    }

    #go-top {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        img {
            height: 1.5rem;
        }
    }
}
