
// Footer

.footer {
  height: 5em;
  padding: 0 2em;
  background-color: $third-color;
  @extend %nav-flex;
  a {
    padding-left: 1em;
  }
  .go-top img {
    position: fixed;
    height: 1em;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
