
// Footer

.footer {
  height: 4em;
  padding: 0 1em;
  background-color: $third-color;
  @extend %nav-flex;
  @media #{$med-screen} {
    padding: 0 2em;
  }
  .icons a {
    margin-left: .8em;
    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
    @media #{$med-screen} {
      margin-left: 2em;
    }
  }
  #go-top {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    img {
      height: 2em;
    }
  }
}
