
//Navbar

.navbar {
  height: 6em;
  width: 100%;
  position: absolute;
  background-color: rgba($primary-color, .8);
  @extend %nav-flex;
  letter-spacing: 3px;
  padding: 0 4em 0 2em;

  .logo-red {
    color: lighten($second-color, 10%);
  }

  .title {
    img {
    height: 6em;
    padding-right: 1.5em;
    }
  }

  ul {
    @extend %ul-spec;
    display: flex;
    li {
      margin-left: 4em;
      @media #{$med-screen} {
        display: none;
      }
      &:hover {
        @extend %hover-spec;
      }
    }
  }
}
