
//Navbar

.navbar {
  height: 6em;
  width: 100%;
  position: absolute;
  background-color: rgba($primary-color, .8);
  @extend %nav-flex;
  letter-spacing: 3px;
  padding: 0 2em;
  @media #{$med-screen} {
    padding: 0 1em;
  }
  .logo-red {
    color: lighten($second-color, 10%);
  }

  .title {
    img {
      height: 6em;
      padding-right: 1.5em;
      @media #{$sm-screen} {
        display: none;
      }
    }
  }
  .menu {
    @extend %nav-flex;
    position: relative;
    @media #{$med-screen} {
      &:hover {
        ul {
          display: block;
          position: absolute;
          right: 30px;
          top: -30px;
        }
      }
    }
    #menu-icon {
      transition: .2s ease;
        &:hover {
        cursor: pointer;
        transform: rotate(90deg);
        color: $second-color;
      }
      @media #{$lg-screen} {
        display: none;
      }
    }

    ul {
      @extend %ul-spec;
      display: flex;
      align-items: center;
      @media #{$med-screen} {
        display: none;
      }

      li {
        margin-left: 4em;
        &:hover {
          @extend %hover-spec;
        }
        @media #{$med-screen} {
          // display: none;
        }
      }
    }
  }
}
