
//Navbar

.navbar {
  height: 4em;
  width: 100%;
  position: absolute;
  background-color: rgba($primary-color, .8);
  @extend %nav-flex;
  letter-spacing: 3px;
  padding: 0 1em;
  @media #{$med-screen} {
    padding: 0 2em;
    height: 6em;
  }
  .logo-red {
    color: lighten($second-color, 10%);
  }

  .title {
    img {
      height: 6em;
      padding-right: 1.5em;
      display: none;
      @media #{$med-screen} {
        display: block;
      }
    }
  }
  .menu {
    @extend %nav-flex;
    position: relative;

    #menu-icon {
      transition: .2s ease;
        &:hover {
        cursor: pointer;
        transform: rotate(90deg);
        color: $second-color;
      }
      @media #{$lg-screen} {
        display: none;
      }
    }

    ul {
      @extend %ul-spec;
      display: none;
      // position: absolute;
      // right: 30px;
      // top: -30px;
      @media #{$lg-screen} {
        display: flex;
      }

      li {
        margin-left: 4em;
        &:hover {
          @extend %hover-spec;
        }
      }
    }
  }
}
