
// Base

*,
*::before,
*::after {
  @extend %border-box;
}

body {
  margin: 0;
  font-family: $stack-sans;
  color: $white;
  p {
    margin: 0;
    line-height: 2em;
    letter-spacing: 2px;
  }
  h1, h2 {
    letter-spacing: 2px;
  }
}
