
// Main Containers

.hero-area {
  min-height: 100vh;
  width: auto;
  position: relative;
  background-color: $primary-color;
  // @include background(url('#{$path-img}/pizza-1.jpg'));

  .hero-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;

    @include keyframes(photo-slider) {
      0% { @include background(url('#{$path-img}/pizza-1.jpg')); }

      20% { @include background(url('#{$path-img}/pizza-2.png')); }

      40% { @include background(url('#{$path-img}/pizza-3.jpg')); }

      60% { @include background(url('#{$path-img}/pizza-6.png')); }

      80% { @include background(url('#{$path-img}/icecream.png')); }

      100% { @include background(url('#{$path-img}/pizza-1.jpg'));}
    }
    @include animation(photo-slider ease-in-out 25s both infinite);
  }

  .title {
    display: flex;
    align-items: center;
  }
}

//Hero Area Ends

.menu-area {
  height: auto;
  width: auto;
  font-family: $stack-serif;
  color: $primary-color;
  @extend %flex-column;
  padding: 3em 0;
  align-items: center;
  text-align: center;
  @media #{$sm-screen} {
    padding: 1em;
    font-size: 80%;
  }
  h1 {
    text-decoration: underline;
  }
  h2 {
    flex-basis: 100%;
    text-align: center;
    @media #{$sm-screen} {
      margin: 0;
    }
  }
  ul {
    @extend %ul-spec;
    li {
      line-height: 2.5em;
      @media #{$med-screen} {
        line-height: 2em;
      }
    }
  }

  .row {
    @extend %row-spec;
    justify-content: space-around;
  }

  .starters, .salads, .icecream, .drinks {
    @extend %menu-flex;
    @extend %flex-column;
    text-align: left;
    flex-basis: 50%;
    @media #{$med-screen} {
     flex-basis: 100%;
    }
  }

  .pizzas {
    @extend %menu-flex;
    @extend %flex-column;
    flex-basis: 100%;
    @media #{$med-screen} {
      text-align: center;
      // flex-basis: 75%;
    }
  }
}

//Menu Area Ends

.location-area {
  min-height: 100vh;
  width: auto;
  background-color: $primary-color;
  padding: 5em 10em;
  display: flex;
  text-align: center;
  justify-content: space-around;
  p {
    font-size: 1.5em;
  }
  .restaurant-details {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }
  .map {
    display: flex;
    align-items: center;
  }
  @media #{$med-screen} {
    padding: 3em;
  }
  @media #{$sm-screen} {
    font-size: 80%;
    padding: 2em;
    align-items: center;
    flex-flow: column;
  }
  img {
    height: 25em;
    @media #{$med-screen} {
      height: 20em;
    }
  }
}

//Location Area Ends

.about-area {
  min-height: 100vh;
  width: auto;
  color: $primary-color;
  @extend %flex-column;
  text-align: center;
  padding: 2em;
  @media #{$sm-screen} {
    font-size: 80%;
  }
  @media #{$med-screen} {
    padding: 2em;
  }
  h3 {
    margin: 2em 0;
  }
  img {
    height: 8em;
    width: auto;
    @media #{$med-screen} {
      height: 5em;
    }
    @media #{$sm-screen} {
      display: none;
    }
  }

  .about-column {
    flex-basis: 30%;
    margin-top: 2em;
    @media #{$med-screen} {
      margin-top: 2em;
    }
    @media #{$sm-screen} {
      margin-top: 0;
    }
  }
  .about-wrap {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    @media #{$med-screen} {
      flex-flow: column;
    }
  }
  p {
    text-align: left;
    font-family: $stack-serif;
  }
}

//About Area Ends
