
// Extends

%border-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

%nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%ul-spec {
  display: flex;
  list-style: none;
  padding-left: 0;
}

%flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%row-spec {
  display: flex;
  flex-wrap: wrap;
}

%menu-flex {
  display: flex;
  flex-flow: row wrap;
}

%hover-spec {
  color: lighten($red, 10%);
  cursor: pointer
}
