
// Descriptive color variables

$white: #fff;
$black: #000;
$dark-blue: #2B2D42;
$red: #CE1E34;
$gray: #848FA3;

// Functional color variables

$primary-color: $dark-blue;
$second-color: $red;
$third-color: $gray;

// Font stacks

$stack-sans: 'Nunito', sans-serif;
$stack-serif: 'Trirong', serif;

// Asset paths

$path-img: '../img';

// Media query breakpoints

$med-screen: '(min-width: 640px)';
$lg-screen: '(min-width: 1024px)';
